

header.event_header {
    background: $brand_color no-repeat center center;
    background-size: cover;
    min-height: 300px;
    position: relative;
    margin: 0 0 30px;

    .container {
       position: relative;
    }

    &.small_event_header {
        min-height: 150px;
        .event_header_text {
        //    margin:150px 0 0;
        bottom: -170px;
        }
    }

    .event_header_text_bg {
        background: white;
        position: absolute;
        bottom: 0;
        height: 124px;
        left: 0;
        width: 300px;
        z-index: 1;
        display: none;
        @media (min-width: $browser_small) {
            display: block;
        }
    }


    .event_header_text {
        position: absolute;
        bottom: -20px;
        left: 0;
        z-index: 2;
        margin: 0 auto 0;
        padding:20px 30px 20px 15px;
        width: 100%;
        width: calc(100% - 40px);
        display: inline-block;
        color: $brand_color;
        text-transform: uppercase;
        background: white;

        @media (min-width: $browser_small) {
            width: $page_text_width;
        }

        h1 {
            padding: 0;
        }
        h5 {
            padding: 0;
        }


    }

}

@media(min-width:$browser_small){
  .voir_en_famille{
    padding-right: 120px!important;

    &:after {
      width: 100px;
      height: 90px;
      background-image: url(../img/voir_en_famille_full);
      background-repeat: no-repeat;
      background-size: auto 100%;
      position: absolute;
      top: 10px;
      right: 20px;
      content: '';
    }
  }
}


#event_details {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $browser_small) {
        flex-wrap: nowrap;
    }

    section.event_details_section {

        flex: 1 auto 0;
        padding-bottom: 50px;
        width: 100%;

        @media (min-width: $browser_small) {
            width: $page_text_width;
        }

        .gallery_container {
            margin:10px 0 30px 0;

            .slick-prev, .slick-next {
                color: white
            }


        }

    }
}
.carousel {

    .image_container {
        position: relative;
        img {

        }

    }

    .caption {
        font-size: 1.6em;
        position: absolute;
        bottom: 0;
        right: 0;
        background: rgba(0, 149, 194, 0.7);
        color: white;
        padding: 3px 10px 7px;
        z-index: 4;
    }

    .image {
        background: no-repeat center center $light_grey;
        background-size: cover;
        height: 350px;
        position: relative;
    }

}
h2.first_part {
  color: $brand_color;
  padding: 80px 0 5px;
  text-transform: uppercase;
}

.mentions {
  font-size: 0.8em;
  margin-top: 60px;

    h5 {
      padding-bottom: 0px;
    }
}

.masterclass {margin-top: 30px;}

.book_button {
display: block;
margin-bottom: 40px;
background: #0095c0;
color: white!important;
text-transform: uppercase;
font-size: 1.2em;
border: 0;
max-width: 300px;
}

.showonlyonbig { display: none;}
@media (min-width: $browser_small) {
  .showonlyonbig { display: block; text-align: right;}
  .showonlyonsmall { display: none;}


}

span.plus {
    font-weight: bold;
    font-size: 3em;
    position: relative;
    top: 6px;
    display: inline-block;
    padding-right: 5px;
}
