
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'header';
@import 'footer';
@import 'carousel';

@media (min-width: $browser_small) { }
@media (min-width: browser_medium) { }
@media (min-width: $browser_large) { }

body {
    background: $background_color;
    color: $font_color;
    font-family: $font_stack;
    font-size: 62.5%;
    font-weight: normal;


}

@import 'sections';
@import 'home';
@import 'events';
@import 'gallery';



p.category {
    color: $brand_color;
}

p.date {
    font-size: 1.3em;
    text-transform: uppercase;
}
