
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'header';
@import 'footer';
@import 'carousel';
@import 'print';

@media (min-width: $browser_small) { }
@media (min-width: browser_medium) { }
@media (min-width: $browser_large) { }

body {
    background: $background_color;
    color: $font_color;
    font-family: $font_stack;
    font-size: 62.5%;
    font-weight: normal;


}

@import 'sections';
@import 'home';
@import 'events';

aside {
    flex: 1 auto 0;
    width: 100%;

    @media (min-width: $browser_small) {
        width: #{100% - $page_text_width};
        border-left: $column_gap solid white;
    }

}

p.category {
    color: $brand_color;
}

p.date {
    font-size: 1.3em;
    text-transform: uppercase;
}

img {width: 100%; height: auto; margin-bottom: 20px;}
img.small_img {max-width: 180px;}

iframe {width: 100%;}



// contactform7
// contactform7
.wpcf7-submit {
    margin-top: 20px;
}
.wpcf7-radio {
    margin: 15px -15px 0px;
    display: block;
    input[type="checkbox"], input[type="radio"] {
        width: auto;
    }
}
div.wpcf7-response-output {
    padding: 15px;
    font-size: 1.6em;
    margin: 0 0 15px;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    background: #fffcd1;
    color: #7a7200;
}
// contactform7
// contactform7

#map_container {
  height: 400px;
}

.hidden {display: none;}
.section_partenaires + .section.section_full_width {
    margin-top: -70px;
}

.temporary_container {
  max-width: 500px;
   margin: auto;
  p {
    font-size: 2em;
  }
}
