
$mob_nav_width: 300px;

header#page_header {
    color: white;
    background: transparent;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 0;

    .branding {
        display: block;
        flex:1 auto 0;
        a {
            background: url('../img/logo.svg') no-repeat left center;
            background-size: contain;
            height: 50px;
            width: 200px;
            text-indent: -9999px;
            border: 0;
        }
    }


    nav {

        position: fixed;
        top:0;
        bottom: 0;
        height: 100%;
        left: 0;
        width:$mob_nav_width;
        background: transparentize($brand_color,0.04);
        transform: translateX(-1 * $mob_nav_width);
        transition: all 0.3s;
        z-index: 50;

        &.visible {
            display: block;
            transform: translateX(0);

        }

        @media (min-width: 768px) {
            flex: 1 auto 0;
            display: block;
            position: relative;
            height: auto;
            transform: none;
            background: none;
            text-align: right;
            width: 100%;


        }

        ul {
            margin: 30px 0 0;
            padding: 30px 0 0;


            @media (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                justify-content:flex-end;
                margin: 0 -20px;
                padding: 0;
            }


            li {
                display: block;
                padding: 0;
                margin: 0;
                text-transform: uppercase;
                text-align: left;



                @media (min-width: 768px) {
                    display: inline-block;
                    flex: 1 auto 0;

                }

                a {
                    display: block;
                    color: white;
                    padding: 20px;
                    border: 0;

                    @media (min-width: 768px) {
                        display: inline-block;
                        color: $dark_grey;
                    }

                    &:hover {
                        background-color: transparentize(white, 0.8);
                    }
                } // END OF A
            } // END OF LI
        } // END OF UL
    } // END OF NAV



    #menu_button {
        display: inline-block;
        background: url('../img/menu.svg') no-repeat center center;
        width: 30px;
        height: 30px;
        background-size: 25px;
        text-indent: -9999px;
        position: absolute;
        top:20px;
        right: 20px;
        border: 0;
        cursor: pointer;
        z-index: 60;

        @media (min-width: 768px) {
            display: none;
        }
    }





} // END OF header#page_header
