body.home {}


#latest_events_slider {

  padding: 0;

  .slick-prev,
  .slick-next {
    color: white
  }

  .single_event_slide_inner {
    background: $brand_color no-repeat center center;
    background-size: cover;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;



    .event_slide_text {

      flex: 1 auto 0;
      max-width: 700px;
      color: white;
      margin: 0;
      padding: 0 20px;

      a {
        color: white !important;
        border: 0;

        &:focus,
        &:active {
          border: 0;
          outline: 0;
          background: rgba(255, 255, 255, 0.3);
        }
      }

      h2 {
        padding: 0;
        text-transform: uppercase;
      }

      h5 {
        color: white;
        padding: 0 0 30px;
      }

      p {

        &.date {
          font-size: 1.7em;
        }
      }

      a.button,
      a h6,
      h6 a {
        text-transform: uppercase;
        border: solid 1px white;
      }
    }


  }

  @media(max-width: $browser_verysmall) {
    .single_event_slide_inner {
      font-size: 0.8em;
      height: 300px;
    }
  }

}





#all_events {

  padding: 0;
  background: $light_grey;

  #all_events_title {
    background: white;
    padding: 50px 0;
    text-align: center;
  }



  #events_and_programme {
    padding: 40px 0;


    @media (min-width: $browser_small) {
      display: flex;
      flex-wrap: nowrap;
    }

    .events_container {
      flex: 1 auto 0;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;

      @media (min-width: $browser_small) {
        // width: 75%;
      }


      .single_event_container {

        flex: auto 1;
        width: #{100% / 1};
        max-width: #{100% / 1};

        background: white;
        margin: 0 0px #{$column_gap };
        padding: 20px;
        color: $dark_grey;
        transition: all 0.3s;
        box-shadow: #{$column_gap * -0.5} 0px 10px #{$column_gap * -0.5} transparentize($dark_grey, 1);
        position: relative;


        @media (min-width: $browser_verysmall) {
          width: calc(50% - #{$column_gap});
          max-width: calc(50% - #{$column_gap});
          margin: 0 #{$column_gap * 0.5} $column_gap;
        }

        @media (min-width: $browser_small) {
          width: calc(25% - #{$column_gap});
          max-width: calc(25% - #{$column_gap});
        }

        &:after {
          content: '';
          width: 0;
          height: 5px;
          background: $brand_color;
          position: absolute;
          left: 0;
          top: 0;
          transition: all 0.3s;
        }

        &:hover {
          box-shadow: #{$column_gap * -0.5} 20px 10px #{$column_gap * -0.5} transparentize($dark_grey, 0.9);

          &:after {
            width: 100%;
          }

          .single_event_image {
            transform: scale(1.2);
          }
        }

        .single_event_image_container {
          height: 130px;
          overflow: hidden;
          margin: -20px -20px 20px;

        }


        .pill {
          position: absolute;
          // top: 112px;
          bottom: 5px;
          right: 5px;
          z-index: 10000;
          margin: 0;
        }

        .single_event_image {
          height: 100%;
          width: auto;
          background: no-repeat center center;
          background-size: cover;

          display: block;
          border: 0;
        }

        p {
          padding: 0;

        }

        h4 {
          padding: 0 0 10px;

          a {
            color: inherit;
            border: 0;
          }

        }
      }


    }

    .programme_container {
      flex: 1 auto 0;

      height: auto;

      margin-bottom: $column_gap;

      @media (min-width: $browser_small) {
        width: 25%;
      }

      .programme_inner {
        background: white;
        border: 2px solid $medium_grey;
        padding: 20px;

        img {
          width: 100%;
          height: auto;

        }

        h4 {
          text-transform: uppercase;
          font-size: 3em;
        }

        .button {
          display: block;

        }
      }


    }
  }


}

.family.single_event_inner,
.family .single_event_image_container {
  position: relative;
}

.family.single_event_inner {
  min-height: 247px;
}

// .family.single_event_inner:after {
//   display: block;
//   content: '';
//   width: 70px;
//   height: 60px;
//   background-image: url('../img/voir_en_famille.png');
//   background-size: contain;
//   background-repeat: no-repeat;
//   position: absolute;
//   bottom: -20px;
//   right: -33px;
// }

.family .single_event_image_container:before {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 5px;
  content: '';
  background-image: url('../img/famille-dark.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  opacity: 0;
  transition: all 0.3s;
}

.family:hover .single_event_image_container:before {
  opacity: 0.5;
}

#news_slider {
  padding: 50px 0;
  background: white;

  .single_news_container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .single_news_container_inner {


    @media (min-width: $browser_verysmall) {
      display: flex;
      flex-wrap: nowrap;
    }


    .news_image {
      flex: 1 auto 0;
      background: no-repeat center center $light_grey;
      background-size: cover;
      width: 100%;
      min-height: 300px;
      margin: 0 0 20px;


      @media (min-width: $browser_verysmall) {
        width: 50%;
        border-right: $column_gap solid white;
      }

      // @media (min-width: $browser_medium) {
      //   width: 25%;
      // }

    }

    .news_text {

      flex: 1 auto 0;

      @media (min-width: $browser_verysmall) {
        width: 50%;
      }

      // @media (min-width: $browser_medium) {
      //   width: 75%;
      // }

      h3 {
        padding: 0 0 15px;
        text-transform: uppercase;

        a {
          color: inherit;
        }
      }

      p {

        &.category {
          padding: 0px;
          // color: $dark_grey;
          text-transform: uppercase;
          font-size: 1.8em;
        }

        &.date {
          padding: 0 0 5px;
        }
      }

    }

  }


}


.pill {
  padding: 3px 14px;
  // background-color: $brand_color;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  line-height: 1;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  font-size: 13px;
}

html body.single span.pill{
  transform: scale(1.2);
    position: relative;
    top: -8px;
    margin-left: 20px;
}


.entry .entry-content > *, .entry .entry-summary > *, .entry .entry-summary > .wp-block-group > .wp-block-group__inner-container > *, .entry .entry-content > .wp-block-group > .wp-block-group__inner-container > *{max-width:100%;}


#all_events #events_and_programme .events_container {
    width: calc(100% + 30px);
    margin: 0 -15px!important;
}

#news_slider {
    padding: 20px 0 0;
    background: #1b7a45;
    color: white;
}

#news_slider .single_news_container {
    padding-left: 0;
    padding-right: 0;
}
#news_slider .single_news_container_inner .news_text h3, html body #news_slider .single_news_container_inner .news_text p.category {
    color:white;
}

 #news_slider .single_news_container_inner .news_text h6 a {
     color :white!important;
     border-color:white;
 }
  #news_slider .single_news_container_inner .news_text h6 a:hover {
    background:rgba(255,255,255,0.4);
 }

@media (min-width: 520px){
#news_slider .single_news_container_inner .news_image {
    width: calc(25% - 25px);
    border-right: none;
   margin-right:25px;
   
}
#news_slider .single_news_container_inner .news_text {
    width: calc(75% - 25px);
}
}

iframe {
    height: 200px!important;
}

#news_slider .single_news_container_inner .news_image {
    min-height:200px;
    height:200px;
}

a.read_more_link {
  color: white;
  font-style: italic;
  border-bottom: 0;
  text-decoration: underline;
}