



section {
    position: relative;

    .section_row {

        display: flex;
        flex:wrap;
        flex-direction: column;

        @media (min-width: $browser_small) {
            flex-direction: row;
        }

        .section_col {
            flex:1 auto 0;
            width: 100%;
            @media (min-width: $browser_small) {
                padding: 0 0 0 30px;
                flex-direction: row;
                &:first-child {
                    padding: 0;
                }


            }
        }
    }

}
