

/*TYPOGRAPHY*/
h1,h2,h3,h4,h5 {
    line-height: 120%;
}

h1 {
    font-size: 4em;
    padding:0 0 50px;
    font-weight: normal;

}
h2 {
    font-size: 2.9em;
    padding: 0 0 30px;
    font-weight: normal;

}
h3 {
    font-size: 2.21em;
    padding:0 0 10px;
    font-weight: bold;

}
h4 {
    font-size: 1.69em;
    padding:0 0 10px;
    font-weight: bold;
}

h5 {
    text-transform: uppercase;
    font-size: 2em;
    color: $brand_color;
    padding: 0 0 10px;
}

h6 {
    font-size: 1.7em;
    line-height: 150%;
    margin-bottom: 5px;
}


@media (min-width: $browser_small){
    h1 { font-size: 4em; }
    h2 { font-size: 4em; padding: 0 0 30px }
    h3 { font-size: 2.6em; }
    h4 { font-size: 1.79em; }
    h5 { font-size: 2.2em; }

}




p { font-size: 1.6em;padding:0 0 20px;line-height: 160%;font-weight: normal  }
li { font-size: 1.6em;padding:0 0 5px;line-height: 160%; font-weight: normal }



li li, li p {font-size: inherit;}
ul ul , ul ol, ol ol {font-size: inherit}


section ul {
    list-style: disc;
    margin:0 0 20px 30px;
}
section ol {
    list-style: decimal;
    margin:0 0 20px 30px;
}




a {
    text-decoration: none;
    border:0;
    display: inline-block;
    @include transition(0.3s);

    &:link, &:visited, &:active {
        color: saturate(lighten($brand_color,15),10);
    }
    &:hover {
        color: $brand_color;
    }


    &.button {
        display: block;
        border: 0;
        padding: 10px 40px;
        margin:10px 0;
        text-align: center;
        color: white;
        background: $dark_grey;
        border-radius: 3px;
        @media (min-width: $browser_small) {
            display: inline-block;
        }
        &:hover {
            background-color: darken($dark_grey, 7);
        }


        &.button_open {
            background: none;
            border:2px solid $dark_grey;
            border-color: white;
            color: white;

            &:hover {
                background-color: transparentize(white, 0.6);
            }
        }



    }

}


a h6, h6 a {
display: inline-block;
border: 0;
padding: 8px 20px;
margin: 10px 0;
text-align: center;
color: #555555!important;
border: solid 1px #555555;
border-radius: 3px;
transition: all 0.5s;
cursor: pointer;

&:hover{
  background: #555;
  color: white!important;
}
}




strong, b {font-weight: bold;}
em, i {font-style: italic}

table {
    width: 100%;
    margin:0 0 40px;
}

th, td {font-size: 1.5em;padding:10px;border:0}
section td {font-size: 2em;line-height: 160%;padding:0 0 10px;}

blockquote {
    padding:20px 0 20px 40px;
    border-left:4px solid #888;
    margin:40px 20px 40px 40px;
    font-size: 140%;
    font-style: italic;
    max-width: 700px;
}
blockquote p:last-child {padding-bottom: 0}

input, textarea, button {
    font-family: $font_stack;
}
input, textarea {
    padding: 10px;
    width: 100%;
    font-size: 1.5em;
    appearance:none;
}
input {}
button {text-transform: uppercase;}
